<div class="ms-font-l ms-navigation-back-button">
    <main class="ms-navigation-back-button__main">
        <!-- Tabbed header -->
        <section class="ms-navigation-back-button__header">
            <div class="ms-navigation-back-button__header--left" id="backButton">
                <i class="ms-Icon ms-Icon--chevronThickLeft ms-fontColor-neutralPrimary"></i>
            </div>
            <div class="ms-navigation-back-button__header--right ms-font-xl ms-fontWeight-light">
            </div>
        </section>

        <section class="ms-navigation-back-button__content ms-font-m ms-fontColor-neutralPrimary">
            <div class="ms-Grid-row">
                <p class="ms-font-xxl"><b>Step1 - Instructions</b></p>
                <p class="ms-font-l">Please register/connect to the I-Digima service, In order to proceed with the activation process.
                </p>
            </div>

            <div class="ms-Grid-row" style="margin-top:20px;">
                <div class="ms-Grid-col ms-u-sm12">
                    <img src="https://outlook365.i-digima.com/tracker/assets/images/iDigima_logo.png"></img>
                </div>
            </div>
            <div class="ms-Grid-row" style="margin-bottom:20px;">
                <div class="ms-Grid-col ms-u-sm12">
                    <button id="iDigimaLogin" class="ms-Button ms-Button--primary" style="width:150px;">
                        <span class="ms-Button-label">Sign-In</span>
                    </button>
                </div>
            </div>
            <button aria-labelledby="btnContinue" aria-describedby="btnContinue" class="ms-Button ms-Button--compound" id="btnContinue">
                <span class=" ms-Button-label " id="btnContinueLabel ">Continue</span>
                <span class="ms-Button-description " id="btnContinueDescriptionLabel ">Proceed to Sign-In to Outlook365</span>
            </button>
        </section>
    </main>

    <!-- Footer -->
    <footer class="ms-navigation-back-button__footer ms-bgColor-themePrimary ">
        <div class="ms-navigation-back-button__footer--left ">
            <img src="https://outlook365.i-digima.com/tracker/assets/images/track_logo_32.png " />
            <h1 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-white " id="logoName ">Tracker</h1>
        </div>
    </footer>
</div>